.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
    background-color: antiquewhite;
}
.new-cart{
    align-items: flex-start;
    text-align: start;
}
.new-cart img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.Cart-heading{
    font-size: 24px;
    font-weight: 800;
}
.chose-btn{
    font-size: 16px;
    font-weight: 600;
    width: 90%;
    padding: 10px;
    color: black;
    background-color: #fff083;
    border: none;
    border-radius: 15px;
}
.chose-btn:hover{
    background-color: orange;
}
.btn{
    width: 90%;
    margin-top: 20px;
    border: none;
    background-color: orange;
    padding: 10px;
    border-radius: 15px;
    font-weight: 700;
}
.btn:hover{
    background-color: #fff083;
}